﻿@model Demo.ASP.Models.Forms.BmiForm

<form method="post">
    <div>
        <input name="Taille" class="form-control mb-2" type="number" placeholder="Taille">
        <span class="text-danger" asp-validation-for="Taille"></span>
        @* afficher les messages d'erreurs *@
    </div>
    <div>
        <input name="Poids" class="form-control mb-2" type="number" placeholder="Poids">
        <span class="text-danger" asp-validation-for="Poids"></span>
    </div>
    <button class="btn btn-outline-secondary">Calculer BMI</button>
</form>

@if(Model != null)
{
    // afficher le résulat
    <p>BMI : @Model.Bmi</p>
    @if(@Model.Bmi < 18.5)
    {
        <p>Vous avez un poids insuffisant</p>
    }
    else if(@Model.Bmi < 25)
    {
        <p>Vous avez un poids normal</p>
    }
    else if(@Model.Bmi < 30)
    {
        <p>Vous êtes en surpoids</p>
    }
    else if(@Model.Bmi < 40)
    {
        <p>Vous êtes en obèse</p>
    }
    else
    {
        <p>Vous êtes en obèse morbide</p>
    }
}
